<!DOCTYPE html>
<html lang="zh-Hant-Tw"">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>履歷</title>
</head>
<body>
    <div style="text-align: center;">
    <h1>歡迎來到我的履歷單</h1>
    <img src="../static/resume1.JPG" width="300">
    <header style="background-color: cadetblue;">
        <p>姓名:吳冠頡</p>
        <p>出生年:2026年8月22日</p>
        <p>學號:411322524</p>
        <p>個性:善良樂心助人，喜歡解決問題，樂於去幫助需要幫助的人
        <p>興趣:喜歡釣魚，也喜歡騎自行車，跑步，和其他戶外運動</p>
    </header>
    <img src="../static/resume2.jpg" width="400">
    <header style="background-color: cadetblue;">
    <h3 >為什麼會學習程式</h3>
    </header>
    <p>我第一次接觸到程式是在我國中時，那時很夯的一個程式語言叫做scratch，我覺得很有趣，</p>
    <p>我也拿來做了許多小遊戲，那時我就下定決心，我以後長大要成為一名軟體工程師。</p>
    <p>我在大學期間也學了許多的程式設計課程，像是java，python，html，c，css等等，</p>
    <p>希望到職場時能夠順利地發揮我以前所習成的技能，去幫助公司排解難疑。</p>
    <img src="../static/resume3.jpg" width="400">
    <header style="background-color: cadetblue;">
    <h3>未來規劃</h3>
    </header>
    <p>我目前還沒有一張程式檢定的證照，所以我希望能在下學期前考到一張，</p>
    <p>還有，我目前正在補強我的英文，我的目標是多益550以上，我已經準備一陣子了，
    <P>預計也是下學期前能完成，希望能夠為我增強一點進爭力。</P>
    
</div>
    <a href="#">回到上方</a>
    <a href="/index">回首頁</a>
</body>
</html>