<!DOCTYPE html>
<html lang="zh-Hant-Tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的何倫碼</title>
</head>
<body>

    <header style="background-color: aquamarine;">
        <h1 style="text-align: center;">我的何倫碼</h1>
        <h1 style="text-align: center;">這些測驗讓我知道，我是是適合甚麼樣的工作，讓我對未來的求學和求職有更加明確的方向</h1>
    </header>



    <img src="../static/hobby1.png" width="800">

    <img src="../static/hobby2.png" width="800">
    

    <a href="/index">回首頁</a>
</body>
</html>