<!DOCTYPE html>
<html lang="zh-Hant-Tw">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>工作介紹</title>
</head>
<body>
    <header style="background-color: blue;">
    <h1>相關工作介紹</h1>
    <h2>這是我在104上看到我覺得不錯的工作崗位。</h2>
    </header>

    <img src="../static/work1.png" width="800">
    <img src="../static/work2.png" width="800">

    <h3>我發現有許多印聘要求，何現在學校教的是一樣的，不過是sql，或者是kotlin，就不知道是什麼，需要自己去研究。</h3>

    <a style="text-align: left;" href="/index">回首頁</a>
</body>
</html>